html{
  height: 100%;
}

body{
  background-color: #02A8F3;
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

#login{
  border-radius: 50%;
  border-color: white;
  background-color: #02A8F3;
}

#loginimage{
  width: 80px;
  height: 80px;
}
#center-block{
  display: inline-block;

  /*overflow: auto;*/
}
textarea{
  position: relative;
  border-radius: 5px;
  font-size: 18px;
  height:39px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#search_area{
  top:13%;
  right:0%;
  left:0%;
  position: absolute;
  width: 37%;
  margin-left: 450px;
  border: 2px solid #262aa3;
  color: white;
  background-color: #02A8F3;
  font-size: 25px;
}
#search-button{
  top:13%;
  right:3%;
  position: absolute;
  /*position:float;*/
  width:85px;
  height: 43px;
  /*float:right;*/
  margin-right: 288px;
  background-color: #262aa3;
  border: 1px solid #262aa3;
}
#search-image{
  width: 35px;
  height: 42px;
  position:relative;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.8rem;
  background-color: #262aa3;
  text-align:center;
  color: white;
  word-spacing: 430pt;
}

#header {
  position: absolute;
  bottom:75%;
  left:0%;
  right:0%;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #7FFD0F;
}

p{
  color:white;
}

#tantrik{
  display: block;
  margin: auto;
  width: 45%;
  height: 275px;
}

#results{
  position: relative;
  width: 50%;
  margin-left: 500px;
  margin-top: 125px;
}

.description{
  font-size: 18px;
}
