@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;

}

body{
  background-color: #02A8F3;
  height: 100%;
  background-position:center;
  background-repeat: no-repeat;
}

#login{
  border-radius: 50%;
  border-color: white;
  background-color: #02A8F3;
}

#loginimage{
  width: 80px;
  height: 80px;
}

.footer {
  background-color: #262aa3;
  text-align:center;
  color: white;
  height: 80px;
  word-spacing: 430pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.8rem;
  background-color: #262aa3;
  text-align:center;
  color: white;
  word-spacing: 430pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

#profile{
  width: 10%;
}

#profile{
  width: 10%;
}
#tantrik{
  width:50%;
  height:50%;
  position: relative;
}
