<form class="example-form">
  <div fxLayout="column" fxLayoutAlign="center center">
  <md-input-container>
    <input mdInput placeholder="First Name" id="first_name">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Last Name" id="last_name">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="User Name" id="user_name">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Email" id="email">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Password" id="password">
  </md-input-container>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <button md-raised-button id="signUp_button" (click)="signUp">Sign up</button>
  </div>
</form>
