<div id="logo">
<button id="clickLogo" ng-flat-button (click)="goHome()"><img src="../assets/Images/LogoTeam.gif"></button>
</div>
<div fxLayout="column" fxLayoutAlign="center center" >
     <md-card class="cards">
        <div fxLayout="row" fxLayoutAlign="start center">
        <md-card-header>
            <div fxLayout="column" fxLayoutAlign="start center">
            <md-card-title>Gideon Driver</md-card-title>
            <img src="../assets/Images/gideon_picture.jpg" id="teamPic">
            </div>
        </md-card-header>
        <md-card-content>
            Frontend Dev
         
        </md-card-content>
        </div>
    </md-card><br />

   <md-card class="cards">
        <div fxLayout="row" fxLayoutAlign="start center">
        <md-card-header>
            <div fxLayout="column" fxLayoutAlign="start center">
            <md-card-title>Shrijan Aryal</md-card-title>
            <img src="../assets/Images/shrijan_pic.png" id="teamPic">
            </div>
        </md-card-header>
        <md-card-content>
            Frontend Dev
         
        </md-card-content>
        </div>
    </md-card><br />

 <md-card class="cards">
        <div fxLayout="row" fxLayoutAlign="start center">
        <md-card-header>
            <div fxLayout="column" fxLayoutAlign="start center">
            <md-card-title>Ashok Kafle</md-card-title>
            <img src="../assets/Images/ashok_pic.jpg" id="teamPic">
            </div>
        </md-card-header>
        <md-card-content>
            Frontend Dev
         
        </md-card-content>
        </div>
    </md-card><br />

 <md-card class="cards">
        <div fxLayout="row" fxLayoutAlign="start center">
        <md-card-header>
            <div fxLayout="column" fxLayoutAlign="start center">
            <md-card-title>Jason Ogato</md-card-title>
            <img src="../assets/Images/jason_pic.jpg" id="teamPic">
            </div>
        </md-card-header>
        <md-card-content>
            FullStack Dev
         
        </md-card-content>
        </div>
    </md-card>

        
</div>