<div fxLayout="row" fxLayoutAlign="space-between none">
  <md-sidenav-container id="user-nav">
    <div id="profile">
      <button id = "login" type="button" md-button (click)="sidenav.open()">
        <img src = "assets/Images/account_temp.png" alt="Temp Account Pic" id="loginimage"/>
      </button>
    </div>
    <md-sidenav #sidenav mode="push" id="login-nav">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div>Login With:</div>
          <br /><button md-fab id="googleB" type="button" (click)="glogin(); sidenav.close()">
            <img width="30" src="../assets/Images/google-logo.png" />
          </button>
          <br /><button md-fab id="facebookB" (click)="flogin(); sidenav.close()">
            <img width="30" src="../assets/Images/facebook-logo.png" />
          </button><br />
          <button md-fab id="cancelB" (click)="sidenav.close()">
            cancel
          </button>
        </div>
    </md-sidenav>
  </md-sidenav-container>
  <div><router-outlet></router-outlet></div>
  <div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="footer">
      <div>
        <a href = "https://github.com/shreezan123/search_algorithm">APIs</a> 
      </div>
      <div>
        <a href = "https://github.com/shreezan123/search_algorithm">GithubLink</a> 
      </div>
      <div>
        <a href = "https://github.com/shreezan123/search_algorithm">OurTeam</a>
      </div>
    </div>
  </div>
</div>