<div fxLayout="column" fxLayoutAlign="space-around none">
  <div>
    <button id = "login" type="button">
      <img src = "assets/Images/account_temp.png" alt="Temp Account Pic"id="loginimage"/>
    </button>
  </div>
  <div><router-outlet></router-outlet></div>
  <div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="footer">
      <div>
        <a href = "https://github.com/shreezan123/search_algorithm">APIs</a> 
      </div>
      <div>
        <a href = "https://github.com/shreezan123/search_algorithm">GithubLink</a> 
      </div>
      <div>
        <a href = "https://github.com/shreezan123/search_algorithm">OurTeam</a>
      </div>
    </div>
  </div>
</div>  