#user-nav{
    background-color: #02A8F3;
}

#login-nav{
    width: 100%;
    height: 100%;
    background-color: #02A8F3;
    color: white;
}

#loginimage{
    border-radius: 50%;
}

#cancelB{
    background-color: #ffffff;
    border: none;
    width: 50px;
    height:20px;
}

#facebookB{
    background-color: #ffffff;
    border: none;
}

#googleB{
    background-color: #ffffff;
    border: none;
}