 <div fxLayout="column" fxLayoutAlign="start center">
<div id="profileLogo" fxFlexOffset="920px">
  <img src="../assets/Images/LogoProfile_Bkd.gif">
</div>
  <md-card id="cards">
    <div fxLayout="row" fxLayoutAlign="center center">
      <md-card-header>
        <md-card-title><h2>Welcome {{user_name}}</h2></md-card-title>
      </md-card-header>
    </div>
     <h3>History</h3>
    <md-card-content>
      <hr style="color: #262aa3;"/>
      <br /><p> Description </p>
    </md-card-content>
  </md-card>
 </div>
