 <div fxLayout="column" fxLayoutAlign="start center">
<div id="profileLogo" fxFlexOffset="920px">
  <img src="../assets/Images/LogoProfile_Bkd.gif">
</div>
  <md-card id="cards">
    <div fxLayout="row" fxLayoutAlign="center center">
      <md-card-header>
        <md-card-title><h2>Welcome {{user_name}}</h2></md-card-title>
      </md-card-header>
    </div>
     <h3>History</h3>
    <md-card-content *ngFor="let i of x | paginate: { itemsPerPage: 5, currentPage: p, id: 'title' };" id="cards">
      <hr style="color: #262aa3;"/>
      <br /><p>{{i[0]}}</p>
    </md-card-content>
    <pagination-controls (pageChange)="p = $event" id="title" autoHide="true" maxSize="5" previousLabel="Previous" nextLabel="Next"></pagination-controls>
  </md-card>
 </div>
