#searchB{
  background-color: #262aa3;
  border: 1px solid #262aa3;
  margin-top: 21px;

}
#resultLogo{
  width: 50px;
  height: 60px;
  margin-left: 950px;
  margin-top: 10px;
=======
  width: 50%;
  height: 50%;
  padding: -50px;
}

input {
  border: 2px solid #262aa3;
  color: white;
  font-size: 25px;
}

#inputArea{
  position: absolute;
}

#cards{
  width: 100%;
  background-color: #ffffff;
  color: #262aa3;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  border: 1px solid #262aa3;
  box-shadow:  -1px 1px #262aa3,
         -2px 2px #262aa3,
         -3px 3px #262aa3,
         -4px 4px #262aa3,
         -5px 5px #262aa3;
}

a{
  color: #262aa3;
}






